* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f4f9ff;
}

/* LOGIN */
.login-page {
    height: 100vh;
    background: linear-gradient(135deg, #0d6efd, #003d99);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background: white;
    padding: 40px;
    width: 320px;
    text-align: center;
    border-radius: 12px;
}

.login-container h1 {
    color: #0d6efd;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

/* NAVBAR */
header {
    background: #0d6efd;
    padding: 15px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    color: white;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
    url('../images/hero.jpg') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 45px;
}

/* BUTTON */
.btn-full {
    display: inline-block;
    background: #0d6efd;
    color: white;
    padding: 10px 25px;
    margin-top: 15px;
    border-radius: 6px;
    text-decoration: none;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}

.feature-card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
}

/* PAGE */
.page-section {
    padding: 60px;
    text-align: center;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #0d6efd;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #003d99;
    color: white;
    text-align: center;
    padding: 15px;
}
