/* LOGIN */
.login-body {
    height: 100vh;
    background: linear-gradient(to right, #0d6efd, #6610f2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    background: #fff;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

/* HERO IMAGE */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
                url('../images/hero.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
